*{
    font-family: 'Work Sans', sans-serif;
    
}

body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    background-color:#BFC0C0;
    color: white;
}

main{
    width: 1000px;
}

column {
    display: grid;
    grid-template-rows: 50px 175px 100px 100px 175px 50px;
    justify-content: center;
    align-items: center;
}

row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.score-module {
    width: 33%;
   height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: #4F5D75;
    color: #BFC0C0;
}

.display-module {
    width: 700px;
    color: #4F5D75;

}


img {
    transform: scale(.9);
}

input {
    display: none;
}

label:hover{
}

button {
    width: 100%;
    margin: 0;
    background-color: #4F5D75;
    color: white;
    border-radius: 10%;
    outline: none;
}

input[type="radio"]:checked + span {
    animation-name: label-pull;
    animation-duration: 2s;
    height: 75%;

}


#result-display{
    font-size: 3em;
    font-weight: bold;
}

.user-options {
    background-color: #4F5D75;
    padding: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    border-radius: 25% 25% 0 0;
    color: white;

}

.user-options:hover{
    height: 55%;

}
.computer-options {
    background-color: #4F5D75;
    padding: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    justify-content: center;
    border-radius: 0 0 25% 25%;
    color: white
}




label {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.top{
    align-items: flex-start;
}

.bottom{
    align-items: flex-end;
}

.play-card{
    animation-name: label-pull;
    animation-duration: 100ms;
    height: 75%;
}


@keyframes label-pull {
    from {height: 50%;}
    to {height: 75%;}
}

h3 {
    margin: 0;
    padding: 0;
    color: #4F5D75;
}