*{

}

body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

main{
    width: 1000px;
}

column {
    display: grid;
    grid-template-rows: 300px 100px 100px 300px 50px;
    justify-content: center;
    align-items: center;
}

row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.score-module {
    width: 33%;
   height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-module {
    width: 700px;

}

label{
    height: 200px;
    width: 33%;
    display: flex;
    justify-content: center;
    opacity: 90;
}

img {
    transform: scale(.9);
}

input {
    display: none;
}

label:hover{
    transform: scale(1.05);
}

button {
    width: 100%;
}

input[type="radio"]:checked + img {
    transform: scale(1.1);
    opacity: 100;
    border: 1px solid black;
}