*{

}

body{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

main{
    width: 1000px;
}

column {
    display: grid;
    grid-template-rows: 300px 100px 100px 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid green;
}

.score-module {
    width: 33%;
   height: 200px;
    border: 1px dotted blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-module {
    width: 700px;

}

label{
    height: 200px;
    width: 33%;
    background-color: yellow;
    display: flex;
    justify-content: center;
}

input {
    display: none;
}
